$primary: #eb1a2d !default;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d !default; // equivalent to default gray-600

$theme-site-navbar-secondary-bg-color: #fff;
$theme-site-navbar-primary-bg-color: #000;
$theme-site-navbar-secondary-type: light;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 30px;

$theme-site-header-breakpoints: (
  hide-primary: 1005px,
  hide-secondary: 910px,
  small-logo: 945px,
  small-text-primary: 0,
  small-text-secondary: 0,
  hide-social-icons: 525px,
  hide-user-links: 414px,
);

// Site Section Colors
$website-section-colors: (
  advanced-manufacturing: #a75deb,
  automation: #77d2d5,
  finishing-world: lighten(#3e569f, 5%),
  operations: #0da8db,
  product-development: lighten(#bc0070, 2%),
  new-products: #4fba73,
  safety: #e77765,
  supply-chain: #c9e765,
  food-beverage: lighten(#008a51, 5%),
);

@import "../../node_modules/@industrial-media/package-shared/scss/core";
