$primary: #00aeef !default;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d !default; // equivalent to default gray-600

$theme-site-navbar-secondary-bg-color: #fff;
$theme-site-navbar-primary-bg-color: #e6e6e6;
$theme-site-navbar-secondary-type: light;
$theme-site-navbar-primary-type: light;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 30px;

$theme-site-header-breakpoints: (
  hide-primary: 1120px,
  hide-secondary: 788px,
  small-logo: 842px,
  small-text-primary: 0,
  small-text-secondary: 0,
  hide-social-icons: 500px,
  hide-user-links: 414px,
);

// Site Section Colors
$website-section-colors: ();

@import "../../node_modules/@industrial-media/package-shared/scss/core";

.site-navbar {
  $self: &;
  &__items {
    &--primary {
      font-family: "Roboto Slab", sans-serif;
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: .8px;

      #{ $self } {
        &__link {
          &--active {
            color: $primary;
          }
        }
      }
    }

    &--secondary {
      font-family: "Roboto Slab", sans-serif;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: .4px;
    }
  }
}

.node {
  &--section-tag {
    .node {
      &__header {
        background-color: $primary;
      }
    }
  }
}
