@import "variables";
@import "mixins";

@import "../../node_modules/@parameter1/base-cms-marko-web-theme-default/scss/theme";

$pswp__root-z-index: $theme-site-header-z-index + 1 !default;
@import "../../node_modules/@parameter1/base-cms-marko-web-photoswipe/scss/main";
@import "../../node_modules/@parameter1/base-cms-marko-web-gam/scss/fixed-ad-bottom";
@import "../../node_modules/@parameter1/base-cms-marko-web-social-sharing/scss/buttons";
@import "../../node_modules/@parameter1/base-cms-marko-web-reveal-ad/scss/reveal-ad";
@import "../../node_modules/@parameter1/base-cms-marko-web-html-sitemap/scss/index";

@import "../../node_modules/@industrial-media/package-contact-us/scss/index";

$theme-related-content-bg-color: #f8f9fa;
$theme-related-content-border-color: #dee2e6;

@import "./components/ad-container";
@import "./components/content-page";
@import "./components/flows";
@import "./components/footer";
@import "./components/identity-x";
@import "./components/node-list";
@import "./components/node";
@import "./components/page";
@import "./components/site-navbar";
@import "./components/theme";

body {
  letter-spacing: .1px;
}

.site-menu {
  &__section {
    &--social-icons {
      padding-bottom: 2rem;
    }
  }
}

.site-navbar {
  $self: &;
  &__items {
    &--secondary {
      @media (max-width: map-get($theme-site-header-breakpoints, small-logo)) {
        margin-top: auto;
        margin-bottom: auto;
      }
      #{ $self } {
        &__link {
          padding-top: 0;
        }
      }
    }
  }
  &__item {
    &--social-icon {
      @media (max-width: map-get($theme-site-header-breakpoints, hide-social-icons)) {
        display: none;
      }
    }
    &--user {
      @media (max-width: map-get($theme-site-header-breakpoints, hide-user-links)) {
        display: none;
      }
    }
  }
}

// stylelint-disable
.gsc-adBlock {
  display: none !important;
}

#brightcove-floating-player div div[class="vjs-overlay vjs-overlay-bottom vjs-overlay-background"] {
  background-color: transparent;
}
