.ad-container--inter-block,
.ad-container--inline,
.ad-container--inline-content {
  @media (min-width: $marko-web-document-container-max-width) {
    margin-right: -#{$marko-web-page-wrapper-padding};
    margin-left: -#{$marko-web-page-wrapper-padding};
  }

  @include media-breakpoint-down(md) {
    margin-right: 0;
    margin-left: 0;
  }
}

// Prevent Reveal Ad from causing CLS
// @TODO determin if this should be moved to @parameter1/base-cms-marko-web
#marko-web-reveal-ad-handler {
  display: none;
}
.reveal-ad {
  height: 298px;
}
body .document-container > .page:first-of-type {
  margin-top: 298px;
  // excluded the following page types as they dont use reskin ads
  &.page--search,
  &.page--authenticate,
  &.page--login,
  &.page--logout,
  &.page--profile,
  &.page--register {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
body .document-container > .reveal-ad + .page {
  margin-top: 0;
}


.ad-container {
  &--inline-content#{&}--template-inline-content-desktop,
  &--inline-content#{&}--template-inline-content-mobile {
    min-height: 0;
    margin-bottom: 0;
    > *:first-child {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
  }
  &--inline-content#{&}--template-inline-content-desktop {
    display: none;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    > *:first-child {
      border-top: 3px solid #f0f1f2;
      border-bottom: 3px solid #f0f1f2;
    }
    @media (min-width: 780px) {
      display: block;
    }
  }
  &--with-label {
    > *:first-child {
      &::before {
        padding-bottom: 1rem;
        font-size: 12px;
        color: $gray-500;
        text-transform: none;
        content: "Advertisement";
      }
    }
  }
  &--in-card {
    background-color: #f0f1f2;
    min-height: 100%;
    >div {
      margin-top: 1rem;
    }
  }
}
