.site-navbar {
  $self: &;
  &--primary {
    @each $section, $color in $website-section-colors {
      #{ $self } {
        &__link--active[href*="#{$section}"] {
          color: $color;
        }
      }
    }
  }
  @media (max-width: map-get($theme-site-header-breakpoints, hide-primary)) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.site-header {
  position: fixed;
}
.document-container {
  margin-top: calculate-navbar-height-for(default);

  @each $breakpoint, $width in sort-map-by-values($theme-site-header-breakpoints, desc) {
    @media (max-width: $width) {
      margin-top: calculate-navbar-height-for($breakpoint);
    }
  }
}
