.site-navbar {
  $self: &;
  &--primary {
    @each $section, $color in $website-section-colors {
      #{ $self } {
        &__link--active[href*="#{$section}"] {
          color: $color;
        }
      }
    }
  }
  &--secondary {
    padding: 0 2rem;
    .site-navbar {
      &__items {
        font-size: 13px;
      }
    }
  }
  &__items {
    &--primary {
      font-size: 15px;
    }
  }
  @media (max-width: map-get($theme-site-header-breakpoints, hide-primary)) {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__items--user {
    font-size: 13px;
    margin-top: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: initial;
    a,
    a:hover,
    a:active,
    a:visited {
      color: $theme-site-navbar-secondary-link-color;
    }
    @media (max-width: map-get($theme-site-header-breakpoints, hide-secondary)) {
      display: none;
    }
  }
  &__established {
    font-size: 10px;
    font-style: italic;
    font-weight: $font-weight-bold;
    width: 100%;
    text-align: center;
    &:before {
      content: "Since: ";
    }
  }
}

.site-header {
  &--sticky {
    position: fixed;
    ~ .document-container,
    ~ .site-newsletter-menu__container {
      margin-top: calculate-navbar-height-for(default);

      @each $breakpoint, $width in sort-map-by-values($theme-site-header-breakpoints, desc) {
        @media (max-width: $width) {
          margin-top: calculate-navbar-height-for($breakpoint);
        }
      }
    }
  }
  border-bottom: none;
}

.site-menu {
  $self: &;
  &__section {
    &--user {
      #{ $self }__link {
        font-weight: $font-weight-bold;
      }
    }
  }
  &__item {
    &--user-login {
      #{ $self }__link {
        color: $primary;
      }
    }
  }
}

.social-follow--site-menu {
  padding-bottom: map-get($spacers, block);
  border-bottom: solid 1px $gray-200;
}
.social-follow__section > .social-icon-link {
  display: inline-block;
}
