import { get } from "@parameter1/base-cms-object-path";

$ const { id, alias, name, pageNode } = input;

$ const { site } = out.global;

<global-website-section-default-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
  right-rail-header="Top News"
>
  <@head>
    <meta name="google-adsense-account" content="ca-pub-1317314767311971">
  </@head>
</global-website-section-default-layout>
