.page-contents {
  &__content-embed-code {
    margin-bottom: map-get($spacers, block);
  }
}

.ad-container {
  &--bottom-of-page {
    margin-top: $theme-ad-margin;
    margin-bottom: $theme-ad-margin;
  }
}
