.site-footer {
  &__container {
    &--secondary {
      .brand-logos {
        @include make-container();
        @include media-breakpoint-up(xl, $grid-breakpoints) {
          max-width: map-get($grid-breakpoints, xl) - 100;
        }
        padding-bottom: 0;
      }
      .row {
        align-items: center;
        justify-content: center;
      }
      .site-footer-logo {
        margin-bottom: map-get($spacers, 3);
      }
    }
    &--primary {
      .site-footer__items {
        @include media-breakpoint-down(md) {
          flex-wrap: wrap;
        }
      }
    }
  }
}
