.idx-comment-stream {
  @include theme-card();
  margin-top: map-get($spacers, block);
  margin-bottom: map-get($spacers, block);
  background-color: $marko-web-node-list-bg-color;

  &__header,
  &__body {
    padding-top: $marko-web-node-list-padding;
    padding-bottom: $marko-web-node-list-padding;
  }

  &__header {
    @include theme-card-header();
    position: relative;
    padding-top: 1.25rem;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 22px;
    line-height: 1.3;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 4px;
      content: "";
      background: #333;
    }
  }

  &__body {
    padding-bottom: 0;
  }

  &__login-form {
    margin-top: -1.75rem;
    margin-bottom: map-get($spacers, block);
  }

  &__login-message {
    font-weight: $font-weight-bold;
  }

  &__close-form-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__close-form {
    padding: .25rem;
    margin-left: auto;
    font-size: 1.75rem;
    font-weight: $font-weight-bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    background-color: transparent;
    border: 0;
    opacity: .5;

    &:hover,
    &:focus {
      opacity: .75;
    }
  }

  &__loading,
  &__error {
    padding-top: $marko-web-node-list-padding;
    padding-bottom: $marko-web-node-list-padding;
  }

  &__create-post {
    padding-bottom: $marko-web-node-list-padding;
  }

  &__no-posts {
    @include marko-web-node-list-border($property: border-top);
    padding-top: $marko-web-node-list-padding;
    padding-bottom: $marko-web-node-list-padding;
  }

  &__post {
    @include marko-web-node-list-border($property: border-bottom);
    padding-top: $marko-web-node-list-padding;
    padding-bottom: $marko-web-node-list-padding;
    &:first-child {
      @include marko-web-node-list-border($property: border-top);
    }
    &:last-child {
      border-bottom: none;
    }
  }

  &__archived {
    font-weight: $font-weight-bold;
  }
}

.idx-comment-post {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: .375rem;
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
  }

  &__flagged {
    margin-bottom: .375rem;
    font-weight: $font-weight-bold;
  }
}
