@import "@parameter1/base-cms-marko-web/scss/fonts/roboto-fallback";
@import "@parameter1/base-cms-marko-web/scss/fonts/roboto-slab-fallback";

// Fonts
$skin-font-family-primary: "Roboto", roboto-fallback, sans-serif !default;
$skin-font-family-secondary: "Roboto Slab", roboto-slab-fallback,sans-serif !default;
$theme-item-description-font-family: $skin-font-family-primary !default;
$theme-item-description-font-size: 16px !default;
$theme-item-description-line-height: 1.4;
$theme-item-title-font-size: 18px !default;
$theme-item-title-line-height: 1.4;

$body-bg: #f0f1f2 !default;

$theme-page-bg-color: white !default;

$skin-ad-bg-color: white !default;

// Navbar
$navbarStyle: "navbar2" !default;
$theme-site-navbar-logo-height: 60px !default;
$theme-site-navbar-secondary-font-size: 16px !default;

// Ads
$leaderboard-min-height-mobile: 100px !default;
$leaderboard-min-height-desktop: 250px !default;
$rail-ad-bg-color: white !default;

$theme-site-footer-secondary-bg-color: #68686c !default;

$theme-site-navbar-primary-link-color: #fff !default;
$theme-site-navbar-primary-link-active-color: #fff !default;
$theme-site-navbar-primary-link-hover-color: #fff !default;
$theme-site-navbar-primary-bg-color: #000 !default;

$billboard-min-height-mobile: 250px;
$billboard-min-height-desktop: 250px;
