name: Deploy sites (staging)

on:
  push:
    tags:
      - '*'

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
    - id: tag_version
      run: |
        REF=$(echo $GITHUB_REF | cut -d / -f 3)
        [[ "$GITHUB_REF" =~ ^refs/tags.*$ ]] && VERSION="$REF" || VERSION="${REF}-${GITHUB_SHA::7}"
        echo "version=$VERSION" >> $GITHUB_OUTPUT
    outputs:
      version: ${{ steps.tag_version.outputs.version }}

  notify-start:
    needs: [version]
    uses: parameter1/actions/.github/workflows/notify-start.yml@main
    secrets: inherit
    with:
      version: ${{ needs.version.outputs.version }}

  post-deploy-failure:
    if: failure()
    needs: [notify-start, deploy-sites]
    uses: parameter1/actions/.github/workflows/notify-fail.yml@main
    secrets: inherit
    with:
      slack-thread: ${{ needs.notify-start.outputs.slack-thread }}

  post-deploy-complete:
    if: success()
    needs: [notify-start, deploy-sites]
    uses: parameter1/actions/.github/workflows/notify-complete.yml@main
    secrets: inherit
    with:
      slack-thread: ${{ needs.notify-start.outputs.slack-thread }}

  ######################
  # Add websites here! #
  ######################

  build-sites:
    needs: [version]
    uses: parameter1/actions/.github/workflows/website-build-push-test.yml@main
    strategy:
      matrix:
        ###############################################
        #v# Make sure this matches the site matrix! #v#
        ###############################################
        site:
          - { dir: cannabisequipmentnews.com, stack: tauron, id: 5bc762d5adff35d154716639, account: indm, tenant: indm_multi, rancher_label: industrial-media-cannabisequipmentnews.com }
          - { dir: designdevelopmenttoday.com, stack: tauron, id: 5af4890775a254af9e0041a7, account: indm, tenant: indm_multi, rancher_label: industrial-media-designdevelopmenttoday.com }
          - { dir: foodmanufacturing.com, stack: tauron, id: 5d76bfdd665fc42e008b456b, account: indm, tenant: indm_multi, rancher_label: industrial-media-foodmanufacturing.com }
          - { dir: ien.com, stack: tauron, id: 5669a4f16cdeeaf8598b4579, account: indm, tenant: indm_multi, rancher_label: industrial-media-ien.com }
          - { dir: impomag.com, stack: tauron, id: 5d76bfe40827e83a008b456f, account: indm, tenant: indm_multi, rancher_label: industrial-media-impomag.com }
          - { dir: inddist.com, stack: tauron, id: 5d76bf9eed61522e008b456b, account: indm, tenant: indm_multi, rancher_label: industrial-media-inddist.com }
          - { dir: manufacturing.net, stack: tauron, id: 5d76bfaf665fc42e008b4569, account: indm, tenant: indm_multi, rancher_label: industrial-media-manufacturing.net }
          - { dir: mbtmag.com, stack: tauron, id: 5d76c0287c94042e008b456b, account: indm, tenant: indm_multi, rancher_label: industrial-media-mbtmag.com }
          - { dir: medicaldesigndevelopment.com, stack: tauron, id: 6220f722417c94af0e8b45ca, account: indm, tenant: indm_multi, rancher_label: industrial-media-medicaldesigndevelopment.com }
        ###############################################
        #^# Make sure this matches the site matrix! #^#
        ###############################################
    with:
      ecr_registry: ${{ vars.AWS_ECR_REGISTRY }}
      docker_image: ${{ vars.AWS_ECR_REGISTRY }}/base-cms-websites:${{ matrix.site.account }}-${{ matrix.site.dir }}-${{ needs.version.outputs.version }}
      site_id: ${{ matrix.site.id }}
      site_host: ${{ matrix.site.dir }}
      infra_stack: ${{ matrix.site.stack }}
      tenant_key: ${{ matrix.site.tenant }}
    push: true
    secrets: inherit

  deploy-sites:
    needs: [version, build-sites]
    uses: parameter1/actions/.github/workflows/website-deploy-staging.yml@main
    strategy:
      matrix:
        ###############################################
        #v# Make sure this matches the site matrix! #v#
        ###############################################
        site:
          - { dir: cannabisequipmentnews.com, stack: tauron, id: 5bc762d5adff35d154716639, account: indm, tenant: indm_multi, rancher_label: industrial-media-cannabisequipmentnews.com }
          - { dir: designdevelopmenttoday.com, stack: tauron, id: 5af4890775a254af9e0041a7, account: indm, tenant: indm_multi, rancher_label: industrial-media-designdevelopmenttoday.com }
          - { dir: foodmanufacturing.com, stack: tauron, id: 5d76bfdd665fc42e008b456b, account: indm, tenant: indm_multi, rancher_label: industrial-media-foodmanufacturing.com }
          - { dir: ien.com, stack: tauron, id: 5669a4f16cdeeaf8598b4579, account: indm, tenant: indm_multi, rancher_label: industrial-media-ien.com }
          - { dir: impomag.com, stack: tauron, id: 5d76bfe40827e83a008b456f, account: indm, tenant: indm_multi, rancher_label: industrial-media-impomag.com }
          - { dir: inddist.com, stack: tauron, id: 5d76bf9eed61522e008b456b, account: indm, tenant: indm_multi, rancher_label: industrial-media-inddist.com }
          - { dir: manufacturing.net, stack: tauron, id: 5d76bfaf665fc42e008b4569, account: indm, tenant: indm_multi, rancher_label: industrial-media-manufacturing.net }
          - { dir: mbtmag.com, stack: tauron, id: 5d76c0287c94042e008b456b, account: indm, tenant: indm_multi, rancher_label: industrial-media-mbtmag.com }
          - { dir: medicaldesigndevelopment.com, stack: tauron, id: 6220f722417c94af0e8b45ca, account: indm, tenant: indm_multi, rancher_label: industrial-media-medicaldesigndevelopment.com }
        ###############################################
        #^# Make sure this matches the site matrix! #^#
        ###############################################
    with:
      docker_image: ${{ vars.AWS_ECR_REGISTRY }}/base-cms-websites:${{ matrix.site.account }}-${{ matrix.site.dir }}-${{ needs.version.outputs.version }}
      infra_stack: ${{ matrix.site.stack }}
      rancher_label_key: basecms-website
      rancher_label_val: ${{ matrix.site.rancher_label }}
    secrets: inherit
